<%= simple_form_for [@build, @combination] do |f| %>
  <%= f.input :charm_id, as: :radio_buttons, wrapper: :vertical_collection_inline, collection: Charm.all.map { |charm| ["<p>#{charm.name}</p>#{image_tag(charm.sprite.url)}".html_safe, charm.id] } %>
  <% if @combination.id.nil? %>
    <%= f.submit 'Add' %>
  <% else %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>
