<div class="background" style="background-image: url(<%= image_url 'background.jpg' %>)">
  <div class="new-header">
    <%= render 'layouts/navbar' %>
  </div>

  <div class="container build-form edit-build-form">
    <%= render 'form' %>
  </div>
</div>
