<div class="background" style="background-image: url(<%= image_url 'background' %>)">
  <div class="new-header">
    <%= render 'layouts/navbar' %>
  </div>

  <div class="container build-form new-build-form">
    <%= render 'form' %>
  </div>
</div>
