.create-button {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size: small;
  border-radius: 5px;
  padding: 6px 16px;
}

.add-button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: small;
  border-radius: 5px;
  padding: 6px 16px;
}
