// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  transition: 0.5s;
  &:hover {
    text-shadow: 0px 0px 5px white;
  }
}

img {
  max-width: 100%;
}

.background {
  background-size: 100% 100%;
  box-shadow: inset 0 0 10vw 10vw black;
  background-attachment: fixed;
  background-position: center;
}

html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
