<div class="header d-flex justify-content-between align-items-center">
  <h1><%= link_to 'Overcharmed', builds_path %></h1>
  <div class="d-flex align-items-center justify-content-between">
  <%= form_tag(builds_path, method: :get, class: 'mx-4') do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search by build or charm', class: 'form-control search-bar' %>
  <% end %>
  <%= link_to 'Create a build', new_build_path %>
  </div>
</div>
